.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    flex-wrap: wrap;
}

.navbar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
}

.navbar ul li {
    margin: 10px
}

.navbar a {
    color: #f0f8ff;
}

.navbar a:hover {
    color: rgb(0, 195, 255);
    text-decoration: none;
}